/* TO-DO 
-HEADER: How to make header sticky?
-QUOTES: How to make paper bg more "crinkly?" 
-FOOTER: How to use a list, again, to put SM icons horizontal??
-FOOTER: Fuzzy h4s on dark bg?
-Check my work against PS-to-CSS output
-Change px to rem (https://packagecontrol.io/packages/REM%20PX)
*/


/*** GENERAL STYLES ***/
h1, h2, h3, h4 {
  margin-top: 0;
  font-weight: 600;
  margin-bottom: -0.25rem;
  letter-spacing: -.1rem;
}

h3, h4 {
  line-height: 1.3;
}

h1 {
  font-size: 4.0rem; 
  line-height: 1.0;
}

h2 {
  font-size: 3.6rem; 
  line-height: 1.25;
}
h3 {
  font-size: 3.0rem; 
  text-transform: uppercase;
}

h4 {
  font-size: 1.5rem; 
  text-transform: uppercase;
}

/* Larger than phablet */
@media (min-width:550px) {
  h1 {
    font-size: 5.0rem; 
  }
  h2 {
    font-size: 3.4rem; 
  }
  h3 {
    font-size: 1.8rem; 
  }
}

body {
  font-size: 1.5em; 
  line-height: 1.6; 
  font-weight: normal;
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  color: #000;
}

p {
  margin-top: 0;
}

a {
  color: #005CDA; 
  text-decoration: none;
}

a:hover {
  background: #ccc;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  padding: 5px;
  box-sizing: border-box;
}

.button, 
button, 
input[type="submit"], 
input[type="reset"], 
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #00dac6;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #00dac6;
  cursor: pointer;
  box-sizing: border-box;
}

/* 
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,

.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; 
}
*/

.button.button-primary, 
button.button-primary, 
input[type="submit"].button-primary, 
input[type="reset"].button-primary, 
input[type="button"].button-primary {
  color: #FFF;
  background-color: #00dac6;
  border: none;
  box-shadow: 0 3px #00baa9;
}

/* 
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB; 
}
*/

.sections {
  padding-top: 2.85rem;
  padding-bottom: 1.5rem;
}


/*** HEADER ***/
#header ul {
  list-style: none;
  float: right;
}

#header ul li {
  display: inline-block;
  float: left;
  margin: 0 0 0 40px;
}

#header ul li div {
  margin-top: 5px;
}

#header-nav {
  position: relative;
  top:  50%;
  transform: translateY(20%);
  padding-top: 1.0rem;
  padding-bottom: 1.0rem;
  font-weight: 500;
  /* 
  FIGURE OUT HOW TO MAKE IT STICKY 
  position: fixed;
  top: -54px;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: #fff;
  border-bottom: #ccc solid 1px;
  */
}



/*** HERO ***/
#hero, #hero-overlay {
    background-color: rgba(0,0,0,.6);
    height: 250px;
    margin: 0;
    padding: 0;
}

#hero {
  color: #fff;
  background: url(../images/writingphoto.jpg) no-repeat;
  background-size: cover;
  background-position: top -186px center;
}

#hero a {
  color: #fff; 
  font-size: 13px;
  text-decoration: none;
}

#hero-button {
  position: relative;
  top:  50%;
  transform: translateY(65%);
}

#hero-copy {
  position: relative;
  top:  50%;
  transform: translateY(-45%);
}


/*** STEPS ***/
#steps {
  text-align: center;
}


/*** SCREENSHOT ***/
.rectangle {
  width: 500px;
  height: 270px;
  background: #00dac6;
}

#screenshot {
  margin: 0;
  padding: 0;
  background-color: #eee;
  background-size: cover;
  box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.45), inset 0px -3px 10px -1px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.45), inset 0px -3px 10px -1px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.45), inset 0px -3px 10px -1px rgba(0, 0, 0, 0.45);
  padding-top: 7.0rem;
}

/*** FEATURES ***/
.circle {
  width: 100px;
  height: 100px;
  background: #fff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #00dac6;
  margin-right: 25px;
}

#features {
  padding-top: 2.85rem;
}


/*** QUOTES ***/
#quotes, #quotes-overlay {
    background-color: rgba(0,219,198,0.5);
    margin: 0;
    padding: 0;
}

#quotes {
  color: #fff;
  font-weight: 500;
  background: url(../images/paper.png) no-repeat;
  /* How can I get more of the "crinkly" effect on the paper? */
  background-size: cover;
  box-shadow: inset 2px 6px 10px -5px rgba(0, 0, 0, 0.45), inset 0px -3px 10px -1px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: inset 2px 6px 10px -5px rgba(0, 0, 0, 0.45), inset 0px -3px 10px -1px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: inset 2px 6px 10px -5px rgba(0, 0, 0, 0.45), inset 0px -3px 10px -1px rgba(0, 0, 0, 0.45);
}

#quotes p {
  margin-left: 55px;
}

#quotes-padding {
  padding-top: 4.0rem;
  padding-bottom: 0.5rem;
}

.quotes-avatar {
  margin-right: 55px;
  width: 100px;
  height: 100px;
  background: #fff;
  border: 3px solid #fff;
  border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
}

.quotes-author {
    color: #666666;
    font-weight: 600;
}


/*** FINAL CTA ***/
#final-cta {
  padding-top: 5.0rem;
  padding-bottom: 1.5rem;
}

#final-cta a {
  font-size: 13px;
}


/*** FOOTER***/
.footer {
  background-color: #6d6d6d;
  font-size: 13px;
  width: 100%;
}

.footer ul, li a {
  color: #fff; 
}

.footer a {
  font-size: 13px;
  text-decoration: none;
}

.footer ul {
  list-style: none;
}

.copyright {
  color: #fff; 
  margin-top: 14px;
  font-size: smaller;
}

.form-subscribe {
  width: 60%;
}

.social-circles {
  margin-right: 5px;
  width: 44px;
  height: 44px;
  background: #00dac6;
  border: none;
  border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  text-align: center;
}

.social-circles #twitter {
  margin-top: 33%;
}

.social-circles #google {
  margin-top: 28%;
  margin-left: 12%;
}

.social-circles #linkedin {
  margin-top: 29%;
  margin-left: 4%;
}

.social-circles #facebook {
  margin-top: 29%;
  margin-left: -1%;
}


/* OLD 
.form-control {
    width: 300px;
    height: 25px;
    padding: 6px 12px;
    font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #999;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px 
}

#quotemark {
    color: #fff;
    font-size: 60px;
    font-family: "Lexia", Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
}
*/