/* 
QESTIONS___________________________________________________
-FONTS: How do I know I've correctly pulled them in?
-NAV: Fuzzy nav links? Moving on over?
-PRIMARY BUTTONS: Focus style not taking?
-QUOTES: How to make paper bg more "crinkly?" 

ASTRID TO-DOs___________________________________________________
-Hover state for logo
-Check my work against PS-to-CSS output


/*** GENERAL STYLES ***/
h1, h2, h3 {
  font-weight: 600;
  letter-spacing: -.1rem;
  margin-bottom: -0.25rem;
  margin-top: 0;
}

h3, h4 {
  line-height: 1.3;
}

h1 {
  font-size: 4.0rem; 
  line-height: 1.0;
}

h2 {
  font-size: 3.6rem; 
  line-height: 1.25;
}
h3 {
  font-size: 3.0rem; 
  text-transform: uppercase;
}

h4 {
  color: #fff;
  font-size: 1.5rem; 
  font-weight: 400;
  letter-spacing: 0.05rem;
  margin-bottom: -0.25rem;
  margin-top: 0;
  text-transform: uppercase;
}

/* Larger than phablet */
@media (min-width:550px) {
  h1 {
    font-size: 5.0rem; 
  }
  h2 {
    font-size: 3.4rem; 
  }
  h3 {
    font-size: 1.8rem; 
  }
}

body {
  color: #000;
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  font-size: 1.5em; 
  font-weight: normal;
  line-height: 1.6; 
}

p {
  margin-top: 0;
}

a {
  color: #005CDA; 
  text-decoration: none;
}

a:hover {
  background: #ccc;
  box-sizing: border-box;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  padding: 5px;
}

.button, 
button, 
input[type="submit"], 
input[type="reset"], 
input[type="button"] {
  background-color: transparent;
  border: 2px solid #00dac6;
  border-radius: 4px;
  box-sizing: border-box;
  color: #00dac6;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  height: 38px;
  letter-spacing: .1rem;
  line-height: 38px;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background-color: #00dac6;
  border: 2px solid #00dac6;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  height: 38px;
  letter-spacing: .1rem;
  line-height: 38px;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

/*
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; 
}
*/

.button.button-primary, 
button.button-primary, 
input[type="submit"].button-primary, 
input[type="reset"].button-primary, 
input[type="button"].button-primary {
  background-color: #00dac6;
  border: none;
  border-radius: 4px;
  box-shadow: 0 3px #00baa9;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  height: 38px;
  letter-spacing: .1rem;
  line-height: 38px;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover {
  background-color: #00c9b7;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  height: 38px;
  letter-spacing: .1rem;
  line-height: 38px;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  background-color: #00c9b7;
  border-radius: 4px;
  box-sizing: border-box;
  color: #08edd9;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  height: 38px;
  letter-spacing: .1rem;
  line-height: 38px;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}


/*** HEADER ***/
#header {
  background-color: #fff;
  border-bottom: #ccc solid 1px;
  left: 0;
  position: fixed;
  top: -21px;
  width: 100%;
  z-index: 9999;
}
#header ul {
  float: right;
  list-style: none;
}

#header ul li {
  display: inline-block;
  float: left;
  margin: 0 0 0 40px;
}

#header ul li div {
  margin-top: 10px;
}

#header-nav {
  font-weight: 600;
  padding-bottom: 1.0rem;
  padding-top: 2.3rem;
  position: relative;
  text-rendering: optimizeLegibility;
  top:  50%;
  transform: translateY(20%);
}

#logo {
    padding-bottom: 25px;
}


/*** HERO ***/
#hero, #hero-overlay {
    background-color: rgba(0,0,0,.6);
    height: 250px;
    margin: 0;
    padding: 0;
}

#hero {
  background: url(../images/writingphoto.jpg) no-repeat;
  background-position: top -186px center;
  background-size: cover;
  color: #fff;
  margin-top: 93px;
}

#hero a {
  color: #fff; 
  font-size: 13px;
  text-decoration: none;
}

#hero-button {
  position: relative;
  top:  50%;
  transform: translateY(65%);
}

#hero-copy {
  position: relative;
  top:  50%;
  transform: translateY(-45%);
}


/*** STEPS ***/
#steps {
  text-align: center;
  padding-bottom: 2.3rem;
  padding-top: 5.3rem;
}

#steps img {
  padding-bottom: 10px;
}


/*** SCREENSHOT ***/
#screenshot img {
  margin-bottom: -7px;
}

#screenshot {
  background-color: #eee;
  background-size: cover;
  box-shadow:
    inset 0px 6px 10px -5px rgba(0, 0, 0, 0.25), 
    inset 0px -6px 10px -5px rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: 
        inset 0px 6px 10px -5px rgba(0, 0, 0, 0.25), 
        inset 0px -6px 10px -5px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 
        inset 0px 6px 10px -5px rgba(0, 0, 0, 0.25), 
        inset 0px -6px 10px -5px rgba(0, 0, 0, 0.25);
  margin: 0;
  padding: 0;
  padding-top: 7.0rem;
}

/*** FEATURES ***/
.circle {
  background: #fff;
  border: 3px solid #00dac6;
  border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  height: 100px;
  margin-right: 25px;
  width: 100px;
}

.circle #collaborate {
  margin-left: 18%;
  margin-top: 24%;
}

.circle #profile {
  margin-left: 16%;
  margin-top: 27%;
}

.circle #milestone {
  margin-left: 27%;
  margin-top: 33%;
}

.circle #calendar {
  margin-left: 21%;
  margin-top: 24%;
}

#features {
  padding-bottom: 3.0rem;
  padding-top: 7.0rem;
}


/*** QUOTES ***/
#quotes, #quotes-overlay {
    background-color: rgba(0,219,198,0.5);
    margin: 0;
    padding: 0;
}

#quotes {
  background: url(../images/paper.png) no-repeat;
  background-size: cover;
  box-shadow: 
    inset 2px 6px 10px -5px rgba(0, 0, 0, 0.45), 
    inset 0px -3px 10px -1px rgba(0, 0, 0, 0.45);
      -webkit-box-shadow: 
        inset 2px 6px 10px -5px rgba(0, 0, 0, 0.45), 
        inset 0px -3px 10px -1px rgba(0, 0, 0, 0.45);
      -moz-box-shadow: 
        inset 2px 6px 10px -5px rgba(0, 0, 0, 0.45), 
        inset 0px -3px 10px -1px rgba(0, 0, 0, 0.45);
  color: #fff;
  font-weight: 500;
}

#quotes p {
  margin-left: 55px;
}

#quotes-padding {
  padding-bottom: 2.0rem;
  padding-top: 6.0rem;
}

.quotes-avatar {
  background: #fff;
  border: 3px solid #fff;
  border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
  height: 100px;
  margin-right: 55px;
  width: 100px;
}

.quotes-author {
    color: #666666;
    font-weight: 600;
    margin-top: -20px;
}

#quotes-mark {
  float: left;
  margin-left: 20px;
  width: 7%;
}


/*** FINAL CTA ***/
#final-cta {
  padding-bottom: 1.5rem;
  padding-top: 5.0rem;
}

#final-cta a {
  font-size: 13px;
}


/*** FOOTER***/
.footer {
  background-color: #6d6d6d;
  font-size: 13px;
  padding-bottom: 3.0rem;
  padding-top: 5.0rem;
  width: 100%;
}

.footer ul li a {
  color: #fff; 
}

.footer ul {
  list-style: none;
}

.copyright {
  color: #fff; 
  font-size: smaller;
  font-weight: 100;
  margin-top: 14px;
}

.form-subscribe {
  width: 62%;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #005CDA;
  outline: 0; }

.social-circles {
  background: #00dac6;
  border: none;
  border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  float: right;
  height: 44px;
  margin-left: 5px;
  text-align: center;
  width: 44px;
}

.social-circles #twitter {
  margin-top: 33%;
}

.social-circles #google {
  margin-left: 12%;
  margin-top: 28%;
}

.social-circles #linkedin {
  margin-left: 4%;
  margin-top: 29%;
}

.social-circles #facebook {
  margin-left: -1%;
  margin-top: 29%;
}