/* TO-DO 
-Check my work against PS-to-CSS output
-Change px to rem (https://packagecontrol.io/packages/REM%20PX)
-Clean up/nest/group CSS
-Figure out how to do CSS color overlay for paper/quotes section
-Figure out how to do hero overlays
-Figure out how to display social media icons in CSS
-Figure out how to do style for customer photo in quotes section
*/

/*-- STILL NEED TO ADJUST */
h1, h2, h3, h4 {
  margin-top: 0;
  font-weight: 600;
  margin-bottom: -0.25rem;
}
h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem;
}
h2 {
  font-size: 3.6rem; /*-- IF I WANT TO MAKE THIS SMALLER, HOW DOES THAT AFFECT MEDIA QUERY? */
  line-height: 1.25;
  letter-spacing: -.1rem;
}
h3 {
  font-size: 3.0rem; /*-- IF I WANT TO MAKE THIS SMALLER, HOW DOES THAT AFFECT MEDIA QUERY? */
  line-height: 1.3;
  letter-spacing: -.1rem;
  text-transform: uppercase;
}
h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
}

/* Larger than phablet */
@media (min-width:550px) {
  h1 {
    font-size: 5.0rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3.0rem;
  }
}
p {
  margin-top: 0;
}

/*-- IF I WANT TO MAKE THIS SMALLER, HOW DOES THAT AFFECT MEDIA QUERY? */
body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: normal;
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  color: #000;
}
.header {
  padding-top: 2.85rem;
  padding-bottom: 1.5rem;
}
.hero {
  padding-top: 2.85rem;
  padding-bottom: 1.5rem;
}
.footer {
  background-color: #6d6d6d;
  color: #fff;
  font-size: 13px;
  width: 100%;
  padding-top: 2.85rem;
  padding-bottom: 1.5rem;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #00dac6;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #00dac6;
  cursor: pointer;
  box-sizing: border-box;
}

/*-- STILL NEED TO ADJUST 
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,

.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; 
}
*/
.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
  color: #FFF;
  background-color: #00dac6;
  border: none;
  box-shadow: 0 3px #00baa9;
}

/*-- STILL NEED TO ADJUST 
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB; 
}
*/

#circle {
  width: 100px;
  height: 100px;
  background: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #00dac6;
}

.editor {
  font-size: 13px;  /*-- CHANGE TO REM; IF I WANT TO MAKE THIS SMALLER, HOW DOES THAT AFFECT MEDIA QUERY? */

#steps {
  text-align: center;
}

#rectangle {
  width: 500px;
  height: 270px;
  background: #00dac6;
}
.quotes {
  /*-- NOT SURE HOW TO DO THE COLOR OVERLAY HERE OR HOW TO KEEP IT LIKE THIS AT SMALL BROWSER SIZES */
  color: #fff;
  font-weight: bold;
  background: url(../images/paper.png) repeat;
  padding-top: 5.0rem;
  padding-bottom: 1.5rem;
}


/*-- OLD 

#branding {
    color: #00dac6;
}

h1 {
    color: #fff;
    font-size: 36px;
    font-family: "Lexia", Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
}

h2 {
    color: #000;
    font-size: 24px;
    font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
    font-weight: 500;
}

h3 {
    color: #000;
    font-size: 14px;
    font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

.btn-ghost {
    height: 54px;
    width: 125px;
}

.btn {
    font-size: 18px;
    height: 54px;
    width: 200px;
}

.btn-ghost-small {
    font-size: 16px;
    height: 40px;
    width: 75px;
}

.btn-ghost-med {
    height: 54px;
    width: 175px;
}

.btn-ghost-long {
    height: 54px;
    width: 250px;
}


.form-control {
    width: 300px;
    height: 25px;
    padding: 6px 12px;
    font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #999;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px 
}

#nav {
    color: #000;
    font-size: 16px;
    font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
    font-weight: 500;
}

#hero {
    color: #fff;
}



#quoteauthor {
    color: #666666;
    font-weight: bold;
}

#quotemark {
    color: #fff;
    font-size: 60px;
    font-family: "Lexia", Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
}

#footer {
    background-color: #6d6d6d;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
}

#footerheader {
    font-weight: bold;
}

#copyright {
    font-size: 12px;
    font-weight: normal;
}

#social{
    background: #00dac6;
    border-radius: 50%;
    width: 32px;
    height: 32px; 
}
*/