/* 
QESTIONS___________________________________________________
-FONTS: How do I know I've correctly pulled them in?
-NAV: Fuzzy nav links? Moving on over?
-PRIMARY BUTTONS: Focus style not taking?
-QUOTES: How to make paper bg more "crinkly?" 

ASTRID TO-DOs___________________________________________________
-Hover state for logo
-Check my work against PS-to-CSS output

/*** GENERAL STYLES ***/
h1, h2, h3 {
  font-weight: 600;
  letter-spacing: -.1rem;
  margin-bottom: -0.25rem;
  margin-top: 0;
}

h3, h4 {
  line-height: 1.3;
}

h1 {
  font-size: 4.0rem; 
  line-height: 1.0;
}

h2 {
  font-size: 3.6rem; 
  line-height: 1.25;
}
h3 {
  font-size: 3.0rem; 
  text-transform: uppercase;
}

h4 {
  color: #fff;
  font-size: 1.5rem; 
  font-weight: 400;
  letter-spacing: 0.05rem;
  margin-bottom: -0.25rem;
  margin-top: 0;
  text-transform: uppercase;
}

/* Larger than phablet */
@media (min-width:550px) {
  h1 {
    font-size: 5.0rem; 
  }
  h2 {
    font-size: 3.4rem; 
  }
  h3 {
    font-size: 1.8rem; 
  }
}

body {
  color: #000;
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  font-size: 1.5em; 
  font-weight: normal;
  line-height: 1.6; 
}

p {
  margin-top: 0;
}

a {
  color: #005CDA; 
  text-decoration: none;
}

a:hover {
  background: #ccc;
  box-sizing: border-box;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  padding: 5px;
}

.button, 
button, 
input[type="submit"], 
input[type="reset"], 
input[type="button"] {
  background-color: transparent;
  border: 2px solid #00dac6;
  border-radius: 4px;
  box-sizing: border-box;
  color: #00dac6;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  height: 38px;
  letter-spacing: .1rem;
  line-height: 38px;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}
 @media only screen and (max-width: 959px) {
  .button, .button-primary {
    width: 100%;
  }
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background-color: #00dac6;
  border: 2px solid #00dac6;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  height: 38px;
  letter-spacing: .1rem;
  line-height: 38px;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

/*
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; 
}
*/

.button.button-primary, 
button.button-primary, 
input[type="submit"].button-primary, 
input[type="reset"].button-primary, 
input[type="button"].button-primary {
  background-color: #00dac6;
  border: none;
  border-radius: 4px;
  box-shadow: 0 3px #00baa9;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  height: 38px;
  letter-spacing: .1rem;
  line-height: 38px;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover {
  background-color: #00c9b7;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  height: 38px;
  letter-spacing: .1rem;
  line-height: 38px;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  background-color: #00c9b7;
  border-radius: 4px;
  box-sizing: border-box;
  color: #08edd9;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  height: 38px;
  letter-spacing: .1rem;
  line-height: 38px;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.scale-with-grid {             
  max-width: 100%;
  height: auto !important;
}


/*** HEADER ***/
#header {
  background-color: #fff;
  border-bottom: #ccc solid 1px;
  left: 0;
  position: fixed;
  top: -21px;
  width: 100%;
  z-index: 9999;
}
    @media only screen and (max-width: 959px) {
      #header {
        display: none; /* Condenses regular header when viewing at screen sizes up to 959px */
      }
    }
    
#header ul {
  float: right;
  list-style: none;
}

#header ul li {
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
}

#header ul li div {
  margin-top: 10px;
}

#header-nav {
  font-weight: 600;
  padding-bottom: 1.0rem;
  padding-top: 2.3rem;
  position: relative;
  text-rendering: optimizeLegibility;
  top:  50%;
  transform: translateY(20%);
}

#header-nav-menu-mobile { 
  display: block; 
}

#header-nav-menu-mobile li { 
  border-top: 1px solid #ccc; /* Puts horizontal lines between nav menu items on smaller screens */
  border-width: 1px 0;
  padding-top: 4%;
}

#header-nav-menu-mobile li a { /* Is there a way to make the whole li the target (so I can give the whole "row" the hover state) with just CSS? */
  margin-left: 32%
}

#header-nav a:hover {
  background: #ccc;
  box-sizing: border-box;
  border-radius: 2px;
  color: #fff;
  padding: 5px;
}

#header-nav .button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background-color: #00dac6;
  border-radius: 4px;
  padding: 0 32px;
  white-space: nowrap;
}
  @media only screen and (max-width: 479px) {
    #header-responsive {
      margin-top: -19%;
      margin-bottom: -20%;
    }
  }

  @media only screen and (min-width: 480px) and (max-width: 540px) {
    #header-responsive {
      margin-top: -16%;
      margin-bottom: -20%;
    }
  }
  @media only screen and (min-width: 541px) and (max-width: 548px) {
    #header-responsive {
      margin-top: -15%;
      margin-bottom: -20%;
    }
  }
  @media only screen and (min-width: 549px) and (max-width: 719px) {
    #header-responsive {
      margin-top: -12%;
      margin-bottom: -20%;
    }
  }
  @media only screen and (min-width: 720px) and (max-width: 800px) {
    #header-responsive {
      margin-top: -10%;
      margin-bottom: -20%;
    }
  }
  @media only screen and (min-width: 801px) and (max-width: 920px) {
    #header-responsive {
      margin-top: -9%;
      margin-bottom: -20%;
    }
  }
  @media only screen and (min-width: 921px) and (max-width: 960px) {
    #header-responsive {
      margin-top: -8%;
      margin-bottom: -20%;
    }
  }
    @media only screen and (min-width: 960px) {
      #header-responsive {
        display: none; 
      }
    }


#header-responsive ul { 
  list-style: none;
}

#header-responsive #header-nav {
  margin-left: -9%; /* Doing this makes the lines extend the viewing area width */
  margin-right: -9%;
}

#header-responsive #header-nav .button { /* Removes the sign up button from header when viewing on smaller screens*/
  display: none;
  border-top: none; /* Still showing the top border for this item even though I've hidden it. ?? */
}

#logo {
    padding-bottom: 25px;
}
   @media only screen and (max-width: 959px) {
      #header-responsive #header-nav #logo { /* Makes nav area shorter vertically (decreases white space) */
        margin-bottom: 1%;
        margin-left: 4%;
        padding-bottom: 0;
        width: 100px;
      }
    }
   @media only screen and (max-width: 405px) {
      #header-responsive #header-nav #menu { 
        float: right;
        margin-right: 6%;
        margin-top: -9.5%;
        padding-top: 0;
      }
    }
   @media only screen and (min-width: 406px) and (max-width: 415px) {
      #header-responsive #header-nav #menu { 
        float: right;
        margin-right: 6%;
        margin-top: -9%;
        padding-top: 0;
      }
    }
     @media only screen and (min-width: 416px) and (max-width: 423px) {
      #header-responsive #header-nav #menu { 
        float: right;
        margin-right: 6%;
        margin-top: -8.5%;
        padding-top: 0;
      }
    }
     @media only screen and (min-width: 424px) and (max-width: 444px) {
      #header-responsive #header-nav #menu { 
        float: right;
        margin-right: 6%;
        margin-top: -8%;
        padding-top: 0;
      }
    }
     @media only screen and (min-width: 445px) and (max-width: 480px) {
      #header-responsive #header-nav #menu { 
        float: right;
        margin-right: 6%;
        margin-top: -8%;
        padding-top: 0;
      }
    }
     @media only screen and (min-width: 481px) and (max-width: 539px) {
      #header-responsive #header-nav #menu { 
        float: right;
        margin-right: 6%;
        margin-top: -7.5%;
        padding-top: 0;
      }
    }
   @media only screen and (min-width: 540px) and (max-width: 549px) {
      #header-responsive #header-nav #menu { 
        float: right;
        margin-right: 6%;
        margin-top: -7%;
        padding-top: 0;
      }
    }
     @media only screen and (min-width: 550px) and (max-width: 719px) {
      #header-responsive #header-nav #menu { 
        float: right;
        margin-right: 6%;
        margin-top: 1.5%;
        padding-top: 0;
      }
    }
     @media only screen and (min-width: 720px) and (max-width: 919px) {
      #header-responsive #header-nav #menu { 
        float: right;
        margin-right: 6%;
        margin-top: 1.5%;
        padding-top: 0;
      }
    }
     @media only screen and (min-width: 920px) and (max-width: 959px) {
      #header-responsive #header-nav #menu { 
        float: right;
        margin-right: 6%;
        margin-top: 1%;
        padding-top: 0;
      }
    }

/*** HERO ***/
#hero, #hero-overlay {
    background-color: rgba(0,0,0,.6);
    height: 250px;
    margin: 0;
    padding: 0;
}
    @media only screen and (max-width: 959px) {
      #hero, #hero-overlay {
        height: 245px;
      }
    }

#hero {
  background: url(../images/writingphoto.jpg) no-repeat;
  background-position: top -186px center;
  background-size: cover;
  color: #fff;
  margin-top: 93px;
}
    @media only screen and (max-width: 959px) {
      #hero {
        background-position: top 0px center;
      }
    }

#hero a {
  color: #fff; 
  font-size: 13px;
  text-decoration: none;
}

#hero-button {
  position: relative;
  top:  50%;
  transform: translateY(65%);
}
    @media only screen and (max-width: 959px) {
      #hero-button {
        text-align: center;
        transform: none;
      }
    }
    
#hero-copy {
  position: relative;
  top:  0;
}
    @media only screen and (max-width: 959px) {
      #hero-copy {
        top: -24%;
        transform: translateY(36%);
      }
    }
    @media only screen and (max-width: 959px) {
      #hero-copy h1 {
        font-size: 2.8rem;
      }
    }
   
  

/*** STEPS ***/
#steps {
  text-align: center;
  padding-bottom: 2.3rem;
  padding-top: 5.3rem;
}
    @media only screen and (max-width: 959px) { 
      #steps  {
        padding-bottom: 0;
        padding-top: 2.2rem;
      }
    }

#steps img {
  padding-bottom: 10px;
}
    @media only screen and (max-width: 959px) { 
      #steps img {
        display: none;
      }
    }

    @media only screen and (max-width: 959px) { 
      #steps h3 {
        font-size: 2rem;
      }
    }


/*** SCREENSHOT ***/
#screenshot {
  background-color: #eee;
  background-size: cover;
  box-shadow:
    inset 0px 6px 10px -5px rgba(0, 0, 0, 0.25), 
    inset 0px -6px 10px -5px rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: 
        inset 0px 6px 10px -5px rgba(0, 0, 0, 0.25), 
        inset 0px -6px 10px -5px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 
        inset 0px 6px 10px -5px rgba(0, 0, 0, 0.25), 
        inset 0px -6px 10px -5px rgba(0, 0, 0, 0.25);
  margin: 0;
  padding: 0;
  padding-top: 7.0rem;
}
  @media only screen and (max-width: 959px) {
    #screenshot {
      padding-top: 2.5rem;
    }
  }

  @media only screen and (max-width: 959px) {
    #screenshot h2 {
      font-size: 2.1rem;
    }
  }

#screenshot img {
  margin-bottom: -7px;
}


/*** FEATURES ***/
.circle {
  background: #fff;
  border: 3px solid #00dac6;
  border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  height: 100px;
  margin-right: 25px;
  width: 100px;
}
  @media only screen and (max-width: 959px) { 
    .circle {
      display: none;
    }
  }

.circle #calendar {
  margin-left: 21%;
  margin-top: 24%;
}

.circle #collaborate {
  margin-left: 18%;
  margin-top: 24%;
}

.circle #milestone {
  margin-left: 27%;
  margin-top: 33%;
}

.circle #profile {
  margin-left: 16%;
  margin-top: 27%;
}

#features {
  padding-bottom: 3.0rem;
  padding-top: 7.0rem;
}
  @media only screen and (max-width: 959px) {
    #features {
      padding-bottom: 1.5rem;
      padding-top: 3rem;
    }
  }

  @media only screen and (max-width: 959px) { /* Makes h2s same size as h2s in Screenshot section */
    #features h2 {
      font-size: 2.1rem;
    }
  }

  @media only screen and (max-width: 959px) { /* Makes h2s same size as h2s in Screenshot section */
    #features p {
      margin-bottom: 0.5rem;
    }
  }

  @media only screen and (max-width: 959px) { 
    #features hr {
      margin-top: 2rem;
      margin-bottom: 2.5rem;
    }
  }


/*** QUOTES ***/
#quotes, #quotes-overlay {
    background-color: rgba(0,219,198,0.5);
    margin: 0;
    padding: 0;
}

#quotes {
  background: url(../images/paper.png) no-repeat;
  background-size: cover;
  box-shadow: 
    inset 2px 6px 10px -5px rgba(0, 0, 0, 0.45), 
    inset 0px -3px 10px -1px rgba(0, 0, 0, 0.45);
      -webkit-box-shadow: 
        inset 2px 6px 10px -5px rgba(0, 0, 0, 0.45), 
        inset 0px -3px 10px -1px rgba(0, 0, 0, 0.45);
      -moz-box-shadow: 
        inset 2px 6px 10px -5px rgba(0, 0, 0, 0.45), 
        inset 0px -3px 10px -1px rgba(0, 0, 0, 0.45);
  color: #000;
  font-weight: 500;
}

#quotes p {
  margin-left: 55px;
}

.quotes-author {
    color: #666666;
    font-weight: 600;
    margin-top: -20px;
}

.quotes-avatar {
  background: #fff;
  border: 3px solid #fff;
  border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
  height: 100px;
  margin-right: 55px;
  width: 100px;
}
  @media only screen and (max-width: 959px) {
    .quotes-avatar {
      display: none;
    }
  }

#quotes-mark {
  float: left;
  margin-left: 20px;
  width: 7%;
}

#quotes-padding {
  padding-bottom: 2.0rem;
  padding-top: 10.5rem;
}
   @media only screen and (max-width: 959px) {
    #quotes-padding {
      margin-left: 3%;
      padding-bottom: 1rem;
      padding-top: 4rem;
    }
  }

  
/*** FINAL CTA ***/
#final-cta {
  padding-bottom: 1.5rem;
  padding-top: 5.0rem;
}
  @media only screen and (max-width: 959px) {
    #final-cta {
      padding-bottom: 0.5rem;
      padding-top: 3.5rem;

    }
  }

#final-cta a {
  font-size: 13px;
}

  @media only screen and (max-width: 959px) {
    #final-cta p {
      text-align: center;

    }
  }


/*** FOOTER***/
.button-subscribe {
  float: right;
}
  @media only screen and (max-width: 959px) {
    .button-subscribe {
      float:  none;
      width: 85%;
    }
  }

.copyright {
  color: #fff; 
  font-size: smaller;
  font-weight: 100;
  margin-top: 10px;
  margin-left: 0;
}
  @media only screen and (max-width: 959px) {
    .copyright {
      text-align: center;
    }
  }

.footer {
  background-color: #6d6d6d;
  font-size: 13px;
  padding-bottom: 3.0rem;
  padding-top: 5.0rem;
  width: 100%;
}
  @media only screen and (max-width: 959px) {
    .footer {
      padding-top: 3.0rem;
    }
  }

  @media only screen and (max-width: 959px) {
    .footer {
      display: none; 
    }
  }

    @media only screen and (max-width: 959px) {
    #footerbullets {
      color: #ccc; 
      font-size: 1.5rem;
      font-weight: bolder;
    }
  }

  
  
  @media only screen and (min-width: 960px) {  /* Hides the smaller version of the footer at 960px+ */
    .footer-mobile {
      display: none; 
    }
  }

  @media only screen and (max-width: 959px) {  /* Shows the smaller version of the footer at 959px and smaller */
    .footer-mobile {
      background-color: #6d6d6d;
      font-size: 13px;
      padding-bottom: 2.75rem;
      padding-top: 3.0rem;
      text-align: center;
      width: 100%;
    }
  }

  @media only screen and (max-width: 959px) { /* Not sure why this isn't overriding the initial a:hover for the page */
    .footer-mobile a {
      color: #ccc; 
      white-space: nowrap;
    }
  }

  @media only screen and (max-width: 959px) { /* Not sure why this isn't overriding the initial a:hover for the page */
    .footer-mobile a:hover {
      color: #fff;
      padding: 0px;
      background-color: transparent;
    }
  }

.footer ul {
  list-style: none;
}

.form-subscribe {
  width: 62%;
}
  @media only screen and (max-width: 959px) {
    .form-subscribe {
      margin-bottom: 2.5%;
      width: 85%;
    }
  }

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #005CDA;
  outline: 0; }

.social-circles {
  background: #00dac6;
  border: none;
  border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  float: right;
  height: 44px;
  margin-left: 5px;
  text-align: center;
  width: 44px;
}

  @media only screen and (max-width: 959px) {
    .social-circles-mobile {
     background: #00dac6;
     border: none;
     border-radius: 50%;
       -moz-border-radius: 50%;
       -webkit-border-radius: 50%;
     float: right;
     height: 50px;
     margin-left: 20px;
     text-align: center;
     width: 50px;
    }
  }

  @media only screen and (max-width: 959px) {  
    .social-mobile {
      float: left;
      margin-bottom: 6%;
      margin-left: 6%;
      margin-top: 5%;
    }
  }
  @media only screen and (max-width: 959px) { 
    .social-mobile a:hover {
      background: #00baa9;
      border: none;
      border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
      float: right;
      height: 50px;
      text-align: center;
      width: 50px;
    }
  }

.social-circles #twitter {
  margin-top: 33%;
}
  @media only screen and (max-width: 959px) {  
    .social-circles-mobile #twitter {
      margin-top: 33%;
    }
  }

.social-circles #google {
  margin-left: 12%;
  margin-top: 28%;
}
  @media only screen and (max-width: 959px) {  
    .social-circles-mobile #google {
      margin-left: 10%;
      margin-top: 30%;
    }
  }

.social-circles #linkedin {
  margin-left: 4%;
  margin-top: 29%;
}
  @media only screen and (max-width: 959px) {  
    .social-circles-mobile #linkedin {
      margin-left: 4%;
      margin-top: 29%;
    }
  }

.social-circles #facebook {
  margin-left: -1%;
  margin-top: 29%;
}
  @media only screen and (max-width: 959px) {  
    .social-circles-mobile #facebook {
      margin-left: -2%;
      margin-top: 29%;
    }
  }