/* TO-DO 
-Check my work against PS-to-CSS output
-Change px to rem (https://packagecontrol.io/packages/REM%20PX)
-Clean up/nest/group CSS
-Figure out how to do CSS color overlay for paper/quotes section
-Figure out how to do hero overlays
-Figure out how to display social media icons in CSS
-Figure out how to do style for customer photo in quotes section
*/



/* GLOBAL */
#branding {
  color: #00dac6;
}

h1 {
  color: #fff;
  font-size: 36px;
  font-family: "Lexia", Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
}

h2 {
  color: #000;
  font-size: 24px;
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

h3 {
  color: #000;
  font-size: 14px;
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}

p {
  color: #000;
  font-size: 14px;
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

#editorlink {
  font-size: 13px;
}

.btn {
  background: #00dac6;
  border: none;
  border-radius: 4px;
  box-shadow: 0 6px #00baa9;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: "Proxima Nova";
  font-size: 18px;
  height: 54px;
  text-align: center;
  text-decoration: none;
  width: 200px;
}

.btn-ghost-small {
  background: transparent;
  border-width: 3px;
  border-color: #00dac6;
  border-radius: 4px;
  color: #00dac6;
  cursor: pointer;
  font-family: "Proxima Nova";
  font-size: 16px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  width: 75px;
}

.btn-ghost {
  background: transparent;
  border-width: 3px;
  border-color: #00dac6;
  border-radius: 4px;
  color: #00dac6;
  cursor: pointer;
  display: block;
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  font-size: 18px;
  height: 54px;
  text-align: center;
  text-decoration: none;
  width: 125px;
}

.btn-ghost-med {
  background: transparent;
  border-width: 3px;
  border-color: #00dac6;
  border-radius: 4px;
  color: #00dac6;
  cursor: pointer;
  display: block;
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  font-size: 18px;
  height: 54px;
  text-align: center;
  text-decoration: none;
  width: 175px;
}

.btn-ghost-long {
  background: transparent;
  border-width: 3px;
  border-color: #00dac6;
  border-radius: 4px;
  color: #00dac6;
  cursor: pointer;
  display: block;
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  font-size: 18px;
  height: 54px;
  text-align: center;
  text-decoration: none;
  width: 250px;
}

.form-control {
  width: 300px;
  height: 25px;
  padding: 6px 12px;
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #999;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px 
}

#nav {
  color: #000;
  font-size: 16px;
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  font-weight: 500;
}


/* HERO */
#hero {
  color: #fff;
}


/* PROCESS */
#process {
  text-align: center;
}


/* QUOTES */
#quote {
  background-repeat: url("paper.png");
  color: #fff;
  font-weight: bold;
}

#quoteauthor {
  color: #666666;
  font-weight: bold;
}

#quotemark {
  color: #fff;
  font-size: 60px;
  font-family: "Lexia", Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
}


/* FOOTER */
#footer {
  background-color: #6d6d6d;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
}

#footerheader {
  font-weight: bold;
}

#copyright {
  font-size: 12px;
  font-weight: normal;
}

#social{
  background: #00dac6;
  border-radius: 50%;
  width: 32px;
  height: 32px; 
}